@font-face {
    font-family: norse-font;
    src: URL(images/Norse-Bold.otf);
}

:root {
    --my-gap: 20px;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    background: URL(images/greenleaf.jpg) center/cover;
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.right {
    flex: 5;
    height: 100%;
    background-color:hsl(35, 100%, 96%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.left>img {
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.imgOdin {
    display: flex;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    margin-top: 150px;
    height: 12rem;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-family: norse-font;
}

.imgOdin > img {
    height: 100%;
}

.left > p > a {
    color: white;
    text-decoration: underline;
}

.left > p > a:hover {
    color: hsl(0, 0%, 50%);
}

.left > p > a:active {
    color: hsl(0, 0%, 20%);
}

.right > form {
    background-color:white;
    box-shadow: 2px 2px 3px hsla(0, 0%, 0%, 0.5);
    padding: 10px 0 20px 50px; 
}

.right > form > h3 {
    font-size: 2em;
}

.right > form > .form-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--my-gap)
}

.right > form > .form-container >.labin {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - var(--my-gap));
}

.labin > label {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}

.labin > input {
    height: 25px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid black;
}

.labin > input:focus {
    border: none;
    outline: 1px solid blue;
}

.labin > input:invalid {
    border: 1px solid red;
}

.labin > input:valid {
    border: 1px solid green;
}

.right > .info {
    margin-left: 50px;
    font-size: 2em;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.right > button {
    margin-left: 50px;
    width: 225px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: hsl(110, 10%, 50%);
    font-size: 1.2em;
    font-weight: 600;
}

.right > p {
    margin-left: 50px;
    font-size: 1.2em;
}

.right > p > a {
    text-decoration: none;
    color: hsl(110, 10%, 50%);
}